.blobs {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.blobs_glass {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(140px);
    -webkit-backdrop-filter: blur(140px);
        z-index: 3;
}

.blobs_items {
    z-index: 1;
}

.blob {
    width: 800px;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 1;
}

.blob--blue {
    background: #204a7a;
}

.blob--purple {
    background: #721818;
}

.blob--white {
    background: #551414;
    width: 400px;
    z-index: 2;
}

.blob--pink {
    background-color: #224a77c2;
}
