
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background: #111;
    padding: 40px;
    border-radius: 6px;
    z-index: 5;
    box-shadow: 0 0 30px #000;
}

.modal h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.modal p {
    text-align: center;
    color: #cecece;
    margin-bottom: 30px;
}

.profile-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 120px;
    height: 90px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #dfdfdf;
    background: #000;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}

.btn-save {
    margin-top: 30px;
    width: 325px;
    padding: 15px;
    background: white;
    color: black;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-cancel {
    margin-top: 15px;
    width: 325px;
    padding: 12px;
    border: none;
    font-size: 16px;
    color: #dfdfdf;
    background: transparent;
    cursor: pointer;
}

.avatar img, .avatar {
  cursor: pointer;
}

.avatar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}