.main {
  position: relative;
  width: 100%;
  margin-top: -140px;
  padding: 80px 36px 0px 36px;
  max-width: 100%;
  z-index: 3;
  background: linear-gradient(to bottom,
      transparent 0%,
      #0b0b0d 150px,
      #0b0b0d calc(100% - 400px),
      rgba(11, 11, 13, 0) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
    background-color: #000000;
  margin: 0;
  font-family:sans-serif;
  color: #fff;
  min-height: 100vh;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 28px;
  background: #000000cc;
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 20;
}

.logo {
  font-weight: 700;
  color: #e8eef6;
  padding: 6px 12px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.03);
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}   

.nav-btn {
    font-size: 14px;
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.menu-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
}

.content-wrapper {
    /* Garante que o conteúdo não fique sob o header e empurre o footer (IA) */
    padding-top: 80px; 
    padding-bottom: 80px; 
    min-height: calc(100vh - 160px);
}

.termos-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 4px;
    background-color: #fff;
}

.termos-container h1 {
color: #000000;
}


.termos-container h2 {
    font-size: 1.8rem;
    margin-top: 30px;
    color: #000000;
}

.termos-container h3 {
    font-size: 1.3rem;
    margin-top: 15px;
    color: #000000;
}

.termos-container p,
.termos-container ul {
    line-height: 1.6;
    color: #000000;
    margin-bottom: 20px;
}

.termos-container ul {
    margin-left: 20px;
}

.data-vigencia {
    font-style: italic;
    color: #464646;
    margin-bottom: 40px;
}

.footer {
  margin-top: 30px;
  padding: 90px 10px 40px 10px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
}

.footer a {
    margin-right: 10px;
}

.footer p {
    margin-left: 10px;
}